@charset "UTF-8";
/* Bitters needs to be imported before Neat */
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #427EA1;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c546b;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "skolar", serif;
  font-size: 1em;
  line-height: 1.5; }

h1, [am-header] [am-header--name],
h2,
h3,
h4,
h5,
h6 {
  font-family: "rooney-web", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1, [am-header] [am-header--name] {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #427EA1;
  text-decoration: none; }
  a:hover {
    color: #2c546b; }
  a:active, a:focus {
    color: #2c546b;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "skolar", serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "skolar", serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #427EA1;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(59, 112, 143, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

[am-post] {
  margin-top: 1.5em; }
  [am-post]:after {
    content: "";
    display: table;
    clear: both; }
  [am-post] [am-post--header] {
    margin: 0 auto 1.5em; }
  [am-post] [am-post--type] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
    [am-post] [am-post--type] > * {
      margin: 0; }
  [am-post] [am-post--meta] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 100; }
    [am-post] [am-post--meta] > * {
      margin: 0; }
  [am-post] [am-post--title] {
    clear: both;
    border-top: 1px solid #333;
    padding-left: 1.5em; }
  [am-post] [am-post--content] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-right: 0;
    padding: 0 1.5em; }
    [am-post] [am-post--content]:last-child {
      margin-right: 0; }
    [am-post] [am-post--content] p:first-of-type::first-letter {
      initial-letter: 3; }
    [am-post] [am-post--content] p:first-of-type {
      font-size: 1.5em; }
    [am-post] [am-post--content] ul, [am-post] [am-post--content] ol {
      margin: 0 0 0.75em; }
    [am-post] [am-post--content] ul li:before {
      display: inline-block;
      content: "—";
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em; }
  [am-post] [am-post--prev-next] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-right: 0; }
    [am-post] [am-post--prev-next]:last-child {
      margin-right: 0; }
  [am-post] [am-post--photo] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-right: 0;
    margin: 0 0 1.5em;
    padding: 0 1.5em; }
    [am-post] [am-post--photo]:last-child {
      margin-right: 0; }
    [am-post] [am-post--photo] img {
      border-top-left-radius: 0.75em;
      border-top-right-radius: 0.75em;
      border-top-right-radius: 0.75em;
      border-bottom-right-radius: 0.75em;
      border-bottom-left-radius: 0.75em;
      border-bottom-right-radius: 0.75em;
      border-top-left-radius: 0.75em;
      border-bottom-left-radius: 0.75em;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      display: block; }
  [am-post] [am-post--comments] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-right: 0;
    margin-top: 1.5em;
    border-top: 1px solid #333;
    padding: 0 1.5em; }
    [am-post] [am-post--comments]:last-child {
      margin-right: 0; }

[am-header] [am-header--container] {
  max-width: 58.75em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #333;
  position: relative; }
  [am-header] [am-header--container]:after {
    content: "";
    display: table;
    clear: both; }
  [am-header] [am-header--container]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1.5em;
    width: 4em;
    height: 0;
    border-bottom: 4px solid #333; }
[am-header] [am-header--logo] {
  float: left;
  margin-top: 1em;
  width: 4em;
  margin-right: 1.5em;
  margin-left: 1.5em; }
  [am-header] [am-header--logo] img {
    width: 100%; }
[am-header] [am-header--name] {
  margin-top: 1rem;
  font-weight: 200; }
[am-header] a {
  color: #333; }

[am-content] [am-content--container] {
  max-width: 58.75em;
  margin-left: auto;
  margin-right: auto; }
  [am-content] [am-content--container]:after {
    content: "";
    display: table;
    clear: both; }
[am-content] [am-content--content] {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%; }
  [am-content] [am-content--content]:last-child {
    margin-right: 0; }

[am-footer] {
  margin-top: 6em; }
  [am-footer] [am-footer--container] {
    max-width: 58.75em;
    margin-left: auto;
    margin-right: auto;
    background-color: #DDD;
    padding-top: 1.5em; }
    [am-footer] [am-footer--container]:after {
      content: "";
      display: table;
      clear: both; }
  [am-footer] [am-footer--content],
  [am-footer] [am-footer--deco],
  [am-footer] [am-footer--links] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%; }
    [am-footer] [am-footer--content]:last-child,
    [am-footer] [am-footer--deco]:last-child,
    [am-footer] [am-footer--links]:last-child {
      margin-right: 0; }
  [am-footer] [am-footer--content],
  [am-footer] [am-footer--deco] {
    padding: 0 1.5em; }
  [am-footer] [am-footer--deco] {
    margin: 0 auto 1.5em; }
    [am-footer] [am-footer--deco] img {
      width: 6em; }
  [am-footer] [am-footer--content] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-right: 0; }
    [am-footer] [am-footer--content]:last-child {
      margin-right: 0; }
  [am-footer] [am-footer--links] {
    margin-bottom: 1.5em; }
    [am-footer] [am-footer--links]:after {
      content: "";
      display: table;
      clear: both; }
  @media screen and (min-width: 40em) {
    [am-footer] [am-footer--social],
    [am-footer] [am-footer--photographs] {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%; }
      [am-footer] [am-footer--social]:last-child,
      [am-footer] [am-footer--photographs]:last-child {
        margin-right: 0; }
      [am-footer] [am-footer--social]:nth-child(2n),
      [am-footer] [am-footer--photographs]:nth-child(2n) {
        margin-right: 0; }
      [am-footer] [am-footer--social]:nth-child(2n+1),
      [am-footer] [am-footer--photographs]:nth-child(2n+1) {
        clear: left; }
      [am-footer] [am-footer--social]:after,
      [am-footer] [am-footer--photographs]:after {
        content: "";
        display: table;
        clear: both; } }
  [am-footer] [am-footer--social] h3,
  [am-footer] [am-footer--photographs] h3 {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase; }
    [am-footer] [am-footer--social] h3 > *,
    [am-footer] [am-footer--photographs] h3 > * {
      margin: 0; }
  [am-footer] [am-footer--social] ul,
  [am-footer] [am-footer--photographs] ul {
    border-top: 1px solid #333;
    padding: 1.5em 1.5em 0; }
  [am-footer] hr {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-right: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #333;
    margin: 0 0 1.5em; }
    [am-footer] hr:last-child {
      margin-right: 0; }
    [am-footer] hr:after {
      content: "";
      display: table;
      clear: both; }

[am-thumbs] {
  margin-top: 1.5em; }
  [am-thumbs]:after {
    content: "";
    display: table;
    clear: both; }
  [am-thumbs] [am-thumbs--header] {
    margin: 0 auto 1.5em; }
  [am-thumbs] [am-thumbs--type] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
    [am-thumbs] [am-thumbs--type] > * {
      margin: 0; }
  [am-thumbs] [am-thumbs--meta] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 100; }
    [am-thumbs] [am-thumbs--meta] > * {
      margin: 0; }
  [am-thumbs] [am-thumbs--title] {
    clear: both;
    border-top: 1px solid #333;
    padding-left: 1.5em; }
  [am-thumbs] [am-thumbs--item] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-bottom: 20px; }
    [am-thumbs] [am-thumbs--item]:last-child {
      margin-right: 0; }
    [am-thumbs] [am-thumbs--item]:nth-child(4n) {
      margin-right: 0; }
    [am-thumbs] [am-thumbs--item]:nth-child(4n+1) {
      clear: left; }
    [am-thumbs] [am-thumbs--item] img {
      border-top-left-radius: 0.75em;
      border-top-right-radius: 0.75em;
      border-top-right-radius: 0.75em;
      border-bottom-right-radius: 0.75em;
      border-bottom-left-radius: 0.75em;
      border-bottom-right-radius: 0.75em;
      border-top-left-radius: 0.75em;
      border-bottom-left-radius: 0.75em;
      display: block; }

[am-thoughts] {
  margin-top: 1.5em; }
  [am-thoughts]:after {
    content: "";
    display: table;
    clear: both; }
  [am-thoughts] [am-thoughts--header] {
    margin: 0 auto 1.5em; }
  [am-thoughts] [am-thoughts--type] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
    [am-thoughts] [am-thoughts--type] > * {
      margin: 0; }
  [am-thoughts] [am-thoughts--meta] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 100; }
    [am-thoughts] [am-thoughts--meta] > * {
      margin: 0; }
  [am-thoughts] [am-thoughts--title] {
    clear: both;
    border-top: 1px solid #333;
    padding-left: 1.5em; }
  [am-thoughts] [am-thoughts--content] {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%;
    margin-right: 0;
    padding: 0 1.5em; }
    [am-thoughts] [am-thoughts--content]:last-child {
      margin-right: 0; }
    [am-thoughts] [am-thoughts--content] p:first-of-type::first-letter {
      initial-letter: 3;
      color: red; }
    [am-thoughts] [am-thoughts--content] h3 {
      margin-top: 0.75em;
      margin-bottom: 0.375em; }
    [am-thoughts] [am-thoughts--content] ul li:before {
      display: inline-block;
      content: "—";
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em; }

[am-prev-next] {
  margin-top: 3em; }
  [am-prev-next]:after {
    content: "";
    display: table;
    clear: both; }
  [am-prev-next] [am-prev-next--header] {
    margin: 0 auto 1.5em; }
  [am-prev-next] [am-prev-next--label] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
    [am-prev-next] [am-prev-next--label] > * {
      margin: 0; }
  [am-prev-next] [am-prev-next--date] {
    display: block;
    margin-left: 1.5em; }
  [am-prev-next] [am-prev-next--meta] {
    display: inline-block;
    margin-left: 1.5em;
    border-bottom: 4px solid #333;
    font-family: "rooney-web", sans-serif;
    font-weight: 100; }
    [am-prev-next] [am-prev-next--meta] > * {
      margin: 0; }
  [am-prev-next] [am-prev-next--prev],
  [am-prev-next] [am-prev-next--next] {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 42.85714%; }
    [am-prev-next] [am-prev-next--prev]:last-child,
    [am-prev-next] [am-prev-next--next]:last-child {
      margin-right: 0; }
    [am-prev-next] [am-prev-next--prev] a,
    [am-prev-next] [am-prev-next--next] a {
      border-top: 1px solid #333;
      display: block;
      padding: 0 1.5em; }
  [am-prev-next] [am-prev-next--next] {
    margin-left: 11.42857%;
    margin-right: 0; }

body {
  padding: 0;
  margin: 0;
  debug: 16px; }

code {
  font-family: "fira-mono", monospace; }
